<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
</head>
<body>
    <h1 style="color:red">This is the home page </h1>

    <h3>  <%=    1+2   %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda nesciunt, delectus odio eos quas? Sint blanditiis vitae nulla? Distinctio velit libero fugiat vel perferendis cum voluptatibus corrupti. Adipisci, sequi.</p>
    <button>click Me</button>
</body>
</html>